<%= form_for(sermon) do |f| %>
  <% if sermon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sermon.errors.count, "error") %> prohibited this sermon from being saved:</h2>

      <ul>
      <% sermon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :series %>
    <%= f.text_field :series %>
  </div>

  <div class="field">
    <%= f.label :preacher %>
    <%= f.text_field :preacher %>
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.text_field :video %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
