<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_news.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_news.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @admin_news.date %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @admin_news.kind %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @admin_news.cover %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= @admin_news.thumb %>
</p>

<%= link_to 'Edit', edit_admin_news_path(@admin_news) %> |
<%= link_to 'Back', admin_news_index_path %>
