<% c = controller_name %>
<nav class="fh5co-nav" role="navigation">
	<div class="container-wrap">
		<div class="top-menu">
			<div class="row">
				<div class="col-md-12 col-offset-0 text-center">
					<div id="fh5co-logo"><a href="/">Igreja Bereana em Natal</a></div>
				</div>
				<div class="col-md-12 col-md-offset-0 text-center menu-1">
					<ul>
						<li class="<%= c == "main" ? "active" : "" %>"><a href="/">Home</a></li>
						<li class="<%= c == "sermons" ? "active" : "" %>"><a href="/sermons">Sermões</a></li>
						<li class="has-dropdown <%= c == "news" ? "active" : "" %>"><a href="news">Notícias</a>
							<ul class="dropdown">
								<li><a href="#">Ministério</a></li>
								<li><a href="#">Missões</a></li>
								<li><a href="#">Aniversários</a></li>
								<li><a href="#">Outros</a></li>
							</ul>
						</li>
						<li class="<%= c == "events" ? "active" : "" %>"><a href="events">Eventos</a></li>
						<li class="<%= c == "about" ? "active" : "" %>"><a href="about">Sobre</a></li>
						<li><a href="contact">Contato</a></li>
						<li><a href="#" class="donate">Contribua</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>